.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
*.pdf
*.png
*.gif
Tmp.*
checkpoint
*.pyc
*.xlsx
1415T2 Data (0924 version_ for student trial).csv
invalidData.csv
combineddata.csv
/nn_grade_prediction/*.csv
/nn_grade_prediction/*.txt
